In [3]:
import pandas as pd 
df = pd.read_csv("../data/raw data/twitter_data.csv")
df.head()

                                              twitts  sentiment
0  is bored and wants to watch a movie  any sugge...          0
1           back in miami.  waiting to unboard ship           0
2  @misskpey awwww dnt dis brng bak memoriessss, ...          0
3                  ughhh i am so tired  blahhhhhhhhh          0
4  @mandagoforth me bad! It's funny though. Zacha...          0

In [4]:
df.sentiment.value_counts()

0    2000
1    2000
Name: sentiment, dtype: int64

In [6]:
df[df["sentiment"]==1].iloc[:5]

                                                 twitts  sentiment
2000  @roninofragnarok You can use the # to specify ...          1
2001                   @Seriouz973 heyy! yuuu welcummm           1
2002                       not a lonely day after all.           1
2003      nap time. all this pettiness has worn me out           1
2004  @Akihikio Indeed, it's very convenient.  Take ...          1